[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "End to end automation to monitor application and send critical notification "
[access "refs/*"]
	owner = group user/Satender Yadav (satender346)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Satender Yadav (satender346)
	label-Verified = -1..+1 group user/Satender Yadav (satender346)
	push = group user/Satender Yadav (satender346)
	read = group user/Satender Yadav (satender346)
	rebase = group user/Satender Yadav (satender346)
	removeReviewer = group user/Satender Yadav (satender346)
	submit = group user/Satender Yadav (satender346)
[access "refs/heads/*"]
	create = group user/Satender Yadav (satender346)
	push = +force group user/Satender Yadav (satender346)
	pushMerge = group user/Satender Yadav (satender346)
	read = group user/Satender Yadav (satender346)
[access "refs/tags/*"]
	push = group user/Satender Yadav (satender346)
	push = +force group user/Satender Yadav (satender346)
